@font-face {
    font-family: b-rg;
    src: url(../fonts/Bahij_TheSansArabic-Plain.ttf);
}

@font-face {
    font-family: b-bd;
    src: url(../fonts/Bahij_TheSansArabic-Bold.ttf);
}

*{
	direction: rtl;
	font-family: b-rg;
}

.owl-carousel,.owl-carousel .owl-stage-outer,.owl-carousel .owl-stage{
	direction: ltr;
}

.navbar-main-search-submit {
    left: 0;
    right: auto;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-menu-category > li > a:after{
	left: 0;
	right: auto;
	content: '\f104';
}
.dropdown-menu-category-section{
	right: 230px;
	left: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: b-rg;
    font-weight: normal;
}

.dropdown-menu-category-title {
    font-size: 18px;
    font-family: b-bd;
    font-weight: normal;
    margin-bottom: 15px;
}

.dropdown-menu-shipping-cart-img {
    float: right;
    margin: 0 0 0 10px;
}

.banner-caption-left, .banner-caption-right {
    right: 5%;
    left: auto;
    }
    .banner-title {
    font-size: 22px;
    
    margin-bottom: 10px;
    font-weight: normal;
    font-family: b-bd;
}
.banner-shop-now {
    font-weight: normal;
    font-size: 14px;
}
.product-caption-title {
    font-weight: normal;
    font-family: b-bd;
}
.main-footer-tag-list > li,.main-footer-social-list > li {
    float: right;
    margin: 0 0 10px 10px;
}
.main-footer-tag-list > li > a{
	border-radius: 20px 5px 5px 20px;
}
._box-highlight h1 {
    font-family: b-bd;
    font-size: 27px;
    margin-bottom: 25px;
}

._box-highlight .product-page-price {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1;
}

._box-highlight .product-page-desc-lg {
}

._box-highlight p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.jqzoom-stage-lg .zoomWindow {
    right: 550px !important;
    left: auto !important;
}

.product-page-product-wrap:before {
    right: 10px;
    left: auto;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.product-sm-left .product-img-wrap,
.shopping-cart-total-list > li > span{
	float: right;
}

.page-breadcrumb > li + li:before {
    content: '\f104';
}
.table > thead > tr > th {
    font-weight: normal;
    font-family: b-bd;
}

.drop-caret{
	left: 5px;
	right: auto;
}

.user-logged .fa-user {
    margin: 0 0 0 5px;
}

.main-footer .widget-title-sm {
    letter-spacing: 0;
    font-family: b-bd;
    font-size: 19px;
}

b, strong {
    font-weight: normal;
    font-family: b-bd;
    font-size: 16px;
}

.category-selections {
    left: 0;
    right: auto;
}

.category-selections-sign{
    right: 2px;
    left: auto;
}

.page-header .page-title {
    font-family: b-bd;
    margin-bottom: 10px;
}

.category-selections > li {
    float: right;
}

.widget-title, .widget-title-sm, .widget-title-lg {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 0;
    text-transform: capitalize;
    font-family: b-bd;
}
.orderss h3{
    font-family: b-bd;
}
.navbar-nav.user-logged > li:last-of-type {
    float: left;
}
optgroup {
    font-weight: normal;
    font-family: b-bd;
}
@media (min-width: 768px){
.navbar-right {
    float: left!important;
    margin:0 0 0 -15px;
}
.navbar-left {
    float: right !important;
}
}
.bootstrap-select.btn-group .btn .filter-option {

    text-align: right;
}
.view-map {
    left: 15px !important;
    right: unset !important;
}