@import url('https://fonts.googleapis.com/css?family=Changa');
/*@import url('https://fonts.googleapis.com/css?family=El+Messiri');*/

*{
    font-family: 'Changa', sans-serif;
    /*font-family: 'El Messiri', sans-serif;*/
    letter-spacing: unset !important;


}


.logo_agile h1 a img {
    right: -49% !important;
    left: unset !important;
    top: -15px !important;
}
.search-hotel form input[type="submit"] {
    transform: rotate(180deg);
}
ul.w3_short{
    text-align: right;
}
.timetable_sub td {
    padding: unset;
}
.checkout-right-basket {
    text-align: left;
}
.logo_agile h1 a {
    padding: 0;
}
.logo_agile h1 a img {
    position: unset;
    width: 61px;
}
.form-check input[type="radio"], input[type="checkbox"]{
    margin: 4px 0 0 4px;
}
.form-check label {
    margin-right: 30px;
}
.row {
    margin-left: unset;
}